/* main styles */

body {
	-webkit-font-smoothing: antialiased;
}

nav {
	height: 50px;
	width: 100%;
}

img {
	width: 165px;
	height: 40px;
	margin: 30px auto 18px auto;
	display: block;
}

li {
	display: inline-block;
	font-family: "Crimson Text";
	padding: 10px;
  font-size: 16px;
}

.date { float: left; }

.headline {
	height: 163px;
	width: 825px;
	margin: 0 auto 100px auto;
}

h1 {
	font-family: "Crimson Text", "Times New Roman";
	font-weight: 600;
	text-align: center;
	font-size: 3.5em;
	text-align: center;
	line-height: 1.1em;
	color: #232323;
	letter-spacing: -2px;
}

h2 {
	font-family: "Crimson Text", "Times New Roman";
	font-weight: 600;
	text-align: center;
	font-size: 20px;
	padding-top: 15px;
}

/* if it's only one style, you can one-line it */
#content { margin: 100px auto; }

.box {
	margin: 2% auto;
	display: inline-block;
	height: 300px;
	width: 100px;
	padding: 5%;
	border: 100px black;
	border-radius: 2px;
	font-family: "Crimson Text", "Times New Roman";
}
